<a href="https://colab.research.google.com/github/PrinceRaj1161/Machine-learning/blob/main/KaggleOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Arithmetic and Variables

In [1]:
#Printing
print("Hello World")

Hello World

In [2]:
#Arithmatic

#Sum
print("Sum")
print(1+2)

#Difference
print("Difference")
print(9-5)

#Multiplication
print("Multiplication")
print(9*3)

#Division
print("Division")
print(9/2) #Automatically converts to float
print(9/3)

#exponent
print("Exponent")
print(2**3)

Sum
3
Difference
4
Multiplication
27
Division
4.5
3.0
Exponent
8

In [3]:
#Expression
#Python also follow PEMDAS rule

print(((1+3)*(9-2)/2)**2)

196.0

##Variables

In [4]:
#Assigning variables while performing airthmetic operation
text_var =  4+5
print(text_var)

9

In [5]:
#Manipulating Variables
var = 3
print(var)

#Now changing it to 100
var=100
print(var)

3
100

In [6]:
#We can access the variable at any time used above
print(text_var)
print(var)

9
100

In [7]:
#Performing operation with variables

#We will increase text_var with 3
text_var=text_var+3
print(text_var)

12

###Using Multiple variables

In [8]:
#Create variables
years=4
day=365
min=60
hour=24
sec=60

#Performing operation
total_sec=sec*min*hour*day*years

print(total_sec)

126144000

# Functions

In [9]:
#Defining a functiom

def add_three(input_var):
  return input_var+3

In [10]:
#Calling a function
num = add_three(10)
print(num)

13

In [11]:
#A complex example
def get_pay(num_hour):
  pay_pertax=num_hour*15
  pay_aftertax=pay_pertax*(1-0.12)
  return pay_aftertax

In [12]:
pay_fulltime=get_pay(40)
print(pay_fulltime)

528.0

In [13]:
pay_partime = get_pay(32)
print(pay_partime)

422.4

In [14]:
#Function with multiple arguments
def get_pay_with_more_inputs(num_hours,hourly_wage,tax_bracket):
  total_pay=num_hours*hourly_wage
  pay_aftertax=total_pay*(1-tax_bracket/100)
  return pay_aftertax

In [15]:
#Calling function
high_pay=get_pay_with_more_inputs(40,24,22)
print(high_pay)

748.8000000000001

In [16]:
pay_full=get_pay_with_more_inputs(40,15,12)
print(pay_full)

528.0

In [17]:
# Function with no arguments
def print_hello():
  print("Hello, you! ")
  print("Good Morning! ")

print_hello()

Hello, you!
Good Morning!

# Data Types

In [18]:
#Integers
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [19]:
#Floats
pi=3.14159265358979323846264338327950288419716
print(pi)
print(type(pi))

#When divided it automatically converts to decimal.
pi1=22/7
print(pi1)
print(type(pi1))

frac=4/2
print(frac)
print(type(frac))


#Rounding of
ro_pi=round(pi, 5)
print(ro_pi)
print(type(ro_pi))

#Assigning float for integers
fl=1.0
print(fl)
print(type(fl))

3.141592653589793
<class 'float'>
3.142857142857143
<class 'float'>
2.0
<class 'float'>
3.14159
<class 'float'>
1.0
<class 'float'>

In [20]:
#Booleans
z_one=True
print(z_one)
print(type(z_one))

#We can also use conditional statement
z_two=(1>2)
print(z_two)
print(type(z_two))

True
<class 'bool'>
False
<class 'bool'>

In [21]:
#Strings
w="Hello,World"
print(w)
print(type(w))

#To know length
print(len(w))

#Empty string
st=""
print(type(st))
print(len(st))

#Anything inside "" is string
my_num="123"
print(my_num)
print(type(my_num))

Hello,World
<class 'str'>
11
<class 'str'>
0
123
<class 'str'>

In [22]:
#Convertion of string into different datatypes
fl1=float("1.23")
print(fl1)
print(type(fl1))

1.23
<class 'float'>

In [23]:
#Addition of string
st1="abc"
st2="def"
newst=st1+st2
print(newst)
print(type(newst))

#Multiplication of string
st1=st1*3
print(st1)

abcdef
<class 'str'>
abcabcabc

#Condition and Conditional statements

In [24]:
print(2>3)

False

# List

In [26]:
# Creating list

flowers = ["Rose", "Tulip", "Lily", "Daisy", "Carnation", "Orchid", "Freesia", "Hyacinth", "Iris"]
print(type(flowers))
print(flowers)

<class 'list'>
['Rose', 'Tulip', 'Lily', 'Daisy', 'Carnation', 'Orchid', 'Freesia', 'Hyacinth', 'Iris']

In [27]:
#Length of list
len(flowers)

9

In [28]:
#Indexing
print(flowers[-1])
print(flowers[0])

Iris
Rose

In [32]:
# Slicing
print(flowers[:3])
print(flowers[-3:])
print(flowers[3:7])
print(flowers[-7:-4])

['Rose', 'Tulip', 'Lily']
['Freesia', 'Hyacinth', 'Iris']
['Daisy', 'Carnation', 'Orchid', 'Freesia']
['Lily', 'Daisy', 'Carnation']

In [33]:
# Removing
flowers.remove("Lily")
print(flowers)

['Rose', 'Tulip', 'Daisy', 'Carnation', 'Orchid', 'Freesia', 'Hyacinth', 'Iris']

In [40]:
# Adding an element
flowers.append("Lotus")
#flowers.remove("Lotus")
print(flowers)

['Rose', 'Tulip', 'Daisy', 'Carnation', 'Orchid', 'Freesia', 'Hyacinth', 'Iris', 'Lotus']

In [55]:
# It can also store other datatypes
ll1=[12,45,82,11]
print(ll1)

[12, 45, 82, 11]

In [60]:
# Maximum and minimum
#ll1 = [1, 2, 3, 4, 5]
from functools import reduce
#print(reduce(min(ll1)))
print(max(ll1))
print(sum(ll1))

82
150